@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,400;0,700;1,100&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    background-color: black;
    color: aliceblue;
}

#container-one {
   height: 650px;
}

#title {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
}

#text {
    font-style: italic;
    font-weight: 100;
}

#browse {
    font-style: italic;
    font-weight: 100;
    color: azure;
}

#section2 {
    background-image: url("133256.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    margin: 0 auto; 
    float: none; 
}

#card-img {
    height: 225px;
    object-fit: cover;
}

#card-body {
    height: 80px;
}

#card-title {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

#popUp-modal {
    background-image: url('card-wp.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#search-results-number {
    background-color: blue;
    font-style: italic;
    height: 28px;
}

#card-img-2 {
    height: 9rem;
    object-fit: cover;
}

#card-body-2 {
    height: 50px;
}

#card-title-2 {
    font-size: 70%;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}
