@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,400;0,700;1,100&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    background-color: black;
    color: aliceblue;
}

#container-one {
   height: 650px;
}

#title {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
}

#text {
    font-style: italic;
    font-weight: 100;
}

#browse {
    font-style: italic;
    font-weight: 100;
    color: azure;
}

#section2 {
    background-image: url("133256.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

}

.card {
    margin: 0 auto; 
    float: none; 
}

#card-img {
    height: 225px;
    object-fit: cover;
}

#card-body {
    height: auto;
}

#popUp-modal {
    background-image: url('card-wp.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#search-results-number {
    background-color:midnightblue ;
    font-style: italic;
    height: 28px;
}

#section3 {
    background-image: url("39613.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#card-img-2 {
    height: 9rem;
    object-fit: cover;
}

#card-body-2 {
    height: auto;
}

#card-title-2 {
    font-size: 70%;
    display: block;
}

#navigation-links {
    background: rgb(105,2,2);
    background: linear-gradient(55deg, rgba(105,2,2,1) 0%, rgba(6,9,154,1) 100%);
    color: white;
}

#all-images {
    font-family: 'Azeret Mono', monospace;
    background: rgb(105,2,2);
    background: linear-gradient(55deg, rgba(105,2,2,1) 0%, rgba(6,9,154,1) 100%);
}

@media (max-width: 320px) {
    #mdlcrd {
        width: 18rem;
    }
}
