@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,400;0,700;1,100&display=swap');

body {
    height: auto;
    background-color: black;
    color: aliceblue;
}

.container {

}

#title {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
}

#text {
    font-style: italic;
    font-weight: 100;
}

#browse {
    font-style: italic;
    font-weight: 100;
    color: azure;
}
